.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
.python-version
.pyvenv.cfg
.coverage
.scannerwork
tests
app/tests/reports
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
.env
env
docs_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?

#
Dockerfile

