<!DOCTYPE html>
<head>
    <title>MPTWork Bootcamp</title>
    <style>
        .centered {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color:orange;
        }        
    </style>    
</head>
<body background="{{ url_for('static', path='images/ai-bg.png') }}" style="no-repeat center center fixed; background-size: cover;">
    <h1 class="centered">Unlocking knowledge, inspiring collaboration, and driving innovation</h1>
</body>
</html>